/* CSS cho Loader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bs-light);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .5s;
}


/* Thêm class này khi tải xong */
.loaded #loader-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out .5s;
}

#loader {
    display: flex;
    gap: 4px;
}

#loader span {
    width: 4px;
    height: 40px;
    border-radius: 4px;
    background: var(--bs-dark-20);
    animation: scale 0.9s ease-in-out infinite;
}

@keyframes scale {
    0%,40%,100% {
        transform: scaleY(0.1);
    }
    20% {
        transform: scaleY(1);
    }
}

#loader span:nth-child(2) {
    background: var(--bs-dark-40);
    animation-delay: -.8s;
}

#loader span:nth-child(3) {
    background: var(--bs-dark-60);
    animation-delay: -.7s;
}

#loader span:nth-child(4) {
    background: var(--bs-dark-80);
    animation-delay: -0.6s;
}

#loader span:nth-child(5) {
    background: var(--bs-dark);
    animation-delay: -0.5s;
}